body  {
	text-align: center;
	text-decoration: none;
	margin:0;
}

h1 {
font-family: "Raleway", sans-serif;
font-weight: 400;
color: #OD2C40;
letter-spacing: 1px;
font-size: 45px;
margin:0;
} 

h2 {
	font-family: Raleway;
	color: #0D2C40;
	letter-spacing: 1px;
	font-weight:600;
	font-size: 20px;
}
header  {
	background-color: #F15B31;
	color:#FFFFFF;
	padding: 30px,20px,30px,20px;
}
nav {
	background-color: #00A6B3;
	color: #FFFFFF;
	padding: 20px,0px,20px,0px;
	
	}

a {
		margin: 0px,20px,0px,20px;
	    color: #FFFFFF;
		border-bottom: 2px solid transparent; 
		text-decoration: none;
	
		
}
a:hover {
	  border-color: pink;
}
main {
	//width: 850px;
	margin: 35px,auto;

}
image {
	margin: 40px,8px,0px,8px;
}


p {
font-family: "Droid Serif", serif;
line-height: 26px;
font-size: 18px;
}

footer {
	text-transform: uppercase;
	padding: 0px,20px,0px,20px;
	background-color: #0D2C40;
	font-size: 14px;
	color: white;
	letter-spacing: .08em;
	font-weight: 500;
}
.copyright {
	font-family: Raleway;
	float:left;
}
.message {
	font-family: Raleway;
	float:right;

}

.clearfix:after {
visibility: hidden;
display: block;
content: " ";
clear: both;
height: 0;
font-size: 0;
}


.name {
	color: #F15B31;
	font-weight: 700;
}